.DS_Store
.idea
*.ai
*.log
*.pdf
*.psd
*.sublime*
node_modules/
npm-debug.*
Thumbs.db
 // Используйте IntelliSense, чтобы узнать о возможных атрибутах.
  // Наведите указатель мыши, чтобы просмотреть описания существующих атрибутов.
  // Для получения дополнительной информации посетите: https://go.microsoft.com/fwlink/?linkid=830387
 // Используйте IntelliSense, чтобы узнать о возможных атрибутах.
  // Наведите указатель мыши, чтобы просмотреть описания существующих атрибутов.
  // Для получения дополнительной информации посетите: https://go.microsoft.com/fwlink/?linkid=830387
