
/*body*/
.header{
display: grid;
grid-template-columns:  480px 240px 240px 240px 240px;
grid-template-rows: 150px 150px 150px 150px 150px;
width: 1440px;
height: 750px;
margin:0;
background: #FFFFFF;
}

/*header*/
.header_wrapper{
width: 1160px;
height: 300px;
margin-left: 140px;
margin-top: 40px;
margin-right: 140px;
background: #FFE17F;
  }

  .header_logo{
  width: 145px;
  height:36px;
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 1;
  grid-column-end: 2;
  column-gap: 1px;
  margin-top: -20px;
  margin-left: 60px;
  }

  .header_menu{
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
  width: 1055px;
  height: 40px;
padding-top: 50px;
padding-left: 60px;
padding-right: 46px;
padding-bottom: 214px;



  }

  /*лупа поиска*/
  .header_img_picture{
  position: absolute;
  left: 220px;
  top: 125px;
  margin: 0;
  }

  /*поиск по сайту*/
  .search_form{
    padding-left: 48px;

    width: 359px;
    height: 40px;
    border-radius: 50px 0 0 50px;
    margin-top: 0;
    background: #FFE17F;
    border: 2px solid #000000;
    font-size: 18px;
    font-family: 'Rubik';



  }

  /*найти*/
  .search_form_submit{
    width:160px;
    height:40px;
    font-size: 18px;
    font-weight: 400;

    border: 2px solid #000000;
    border-radius: 0 50px 50px 0;
    background: #FFE17F;
    font-family: 'Rubik';


    margin-left: -6px;
    padding: 0;

  }

  /*фигурка*/
  .header_menu_picture{
  margin-left: 27px;
  }

  /* Войти */
  .form_submit{
   width: 58px;
   height:30px;

   font-style: normal;
   font-weight: 400;
   font-size: 18px;
   line-height: 30px;
   color: #000000;
   font-family: 'Rubik';

   background: #FFE17F;
   border: none;

   margin-left: 13px;
  }

/*Сравнить*/
.form_submit_button{
width:83px;
height: 30px;

padding: 0;
margin-left: 12px;

font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 30px;
border: none;
background: #FFE17F;
font-family: 'Rubik';
}

/*Шкала*/
.img_picture{
margin-left: 176px;
}

.menu_picture{
margin-left: 1px;
}
/*количество*/
.number_picture{
display: flex;
flex-direction: row;
align-items: center;
justify-content: center;
width: 21px;
height: 21px;
background: #FFFFFF;
border-radius: 50%;
padding: 0;
font-family: 'Rubik';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 30px;
margin-left: 18px;
}

/*Корзина*/
.input_submit{
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 30px;
border: none;
background: #FFE17F;
font-family: 'Rubik';

width: 74px;
height: 30px;

padding:0;
margin-left: 12px;
margin-right:40px;
}

/*Навигация*/
.navigation-list{
width: 1040px;
height: 50px;
display: flex;
flex-direction: row;
align-items: center;
justify-content: end;
flex-wrap: nowrap;
gap: 47px;

margin-top:-190px;
margin-right: 50px;


font-family: 'Raleway';
font-style: normal;
font-weight: 800;
font-size: 18px;
line-height: 21px;
letter-spacing: 0.2em;
text-transform: uppercase;
color: #000000;
list-style-type:none;
text-decoration: none;
}

/*ссылки*/
.header_link{
  text-decoration: none;
  color: #000000;
}

/*каталог*/
.header_link_list{
  position:absolute;
  left:210px;
  top:191px;
  text-decoration: none;
  color: #000000;
}

.ellipse{
  position:absolute;
  left:450px;
}

/*квадракоптер*/
.header-slider{
grid-row-start: 3;
grid-row-end: 4;
grid-column-start: 1;
grid-column-end: 2;
margin-left:140px;
margin-top:-110px;
}

/*число 01*/
.header-number{

  width: 250px;
  height: 135px;
color: #FFFFFF;

font-family: 'Rubik';
font-style: normal;
font-weight: 700;
font-size: 180px;
line-height: 30px;

margin-top: 219px;
margin-right: 200px;



}
