@font-face {
  font-family: "raleway";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/raleway/raleway-800.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "rubik";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/rubik/rubik-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "rubik";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/rubik/rubik-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "rubik", sans-serif;
  font-size: 18px;
  line-height: 30px;
  background: #ffffff;
  width: 1440px;
}

.button {
  font-family: "raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  text-transform: uppercase;
  text-decoration: none;
  color: #000000;
  letter-spacing: 0.2em;
}

/*header*/
.header {
  color: #000000;
  background-color: #ffe17f;
  width: 1160px;
  height: 186px;
  margin: 40px 140px auto 140px;
}

.header-catalog {
  color: #000000;
  background-color: #ffe17f;
  height: 300px;
  width: 1160px;
  margin: 40px 140px auto 140px;
}

.logo {
  display: block;
  margin-left: 60px;
  margin-top: -20px;
  width: 145px;
}

/*navigation*/
.navigation {
  width: 1040px;
  margin: 0 auto;
}

.navigation-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 1040px;
  font-family: "rubik", sans-serif;
  line-height: 20px;
  font-weight: 400;
  font-size: 16px;
}

.navigation-list-user {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 1040px;
  margin: 0;
  padding: 0;
  font-family: "raleway" sans-serif;
  line-height: 21px;
  font-weight: 800;
  font-size: 18px;
  letter-spacing: 0.2em;
}

.navigation-item {
  display: inline-block;
}

.navigation-catalog {
  display: flex;
  flex-direction: column;
  font-family: "raleway", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
}

.navigation-link {
  display: flex;
  flex-direction: row;
  font-family: "rubik", sans-serif;
  color: #000000;
  text-decoration: none;
  text-align: center;
  font-style: normal;
}

.navigation-catalog-link {
  font-family: "raleway" sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  text-decoration: none;
  color: #000000;
}

.navigation-link-current {
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  text-decoration: none;
  color: #000000;
}

/*main*/

.main-index {
  font-family: "raleway", sans-serif;
  color: #000000;
  background-color: #ffffff;
  background-size: 100% auto;
  background-repeat: no-repeat;
  margin: 0 auto;
}

.page-container {
  width: 1440px;
  margin: 0;
  background-color: #f0f0f0;
}

.slide {
  display: flex;
  flex-direction: row;
  width: 1160px;
  height: 560px;
  box-sizing: border-box;
}

.slider-container {
  display: flex;
  flex-direction: column;
  width: 560px;
}

.slider-image {
  text-align: left;
  width: 560px;
}

.slider-title {
  margin: 0;
  padding: 0;
  width: 545px;
  text-align: left;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  color: #000000;
}

.slider-text {
  width: 560px;
  font-family: "rubik", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #444444;
}

.slider-link {
  font-family: "raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  letter-spacing: 0.2em;
  text-decoration: none;
  background-color: #ffe17f;
}

.slider-options-element {
  font-family: "rubik", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  color: #444444;
}

.slider-options-index {
  font-weight: 400;
  font-size: 36px;
  line-height: 30px;
  color: #000000;
}

.slider-pagination {
  margin: 0 auto;
  text-align: center;
}

/*menu*/
.menu {
  font-family: "raleway", sans-serif;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: 1160px;
  height: 253px;
  margin-left: -40px;
}

.menu-icons {
  display: flex;
  justify-content: space-between;
  text-align: center;
}

.menu-icons-item {
  display: flex;
  flex-direction: column;
  width: 160px;
  text-align: center;
  padding-right: 40px;
}

.menu-image {
  width: 160px;
  height: 160px;
  background: #ffe17f;
}

.menu-rectangle-link {
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
  text-align: center;
  text-decoration: none;
}

/*services*/
.services {
  display: flex;
  flex-direction: column;
  font-family: "Raleway", sans-serif;
  background-color: #f0f0f0;
  font-style: normal;
  font-weight: 800;
  width: 1440px;
  box-sizing: border-box;
  margin-left: -140px;
}

.service {
  flex-direction: row;
  display: flex;
}

.services-container {
  display: flex;
  flex-direction: column;
}
.services-link {
  background-color: #ffe17f;
  text-decoration: none;
  color: #000000;
  font-size: 18px;
  line-height: 21px;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}

.services-title {
  text-align: left;
  font-size: 50px;
  line-height: 50px;
  color: #000000;
}

.services-description {
  font-family: "rubik", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #444444;
}

/*delivery*/
.order {
  font-family: "raleway", sans-serif;
  background: #f0f0f0;
  width: 1160px;
  height: 100px;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  margin: 70px 0 auto 0;
}

/*.-container{
  background-color:#F0F0F0;
  display: flex;
  justify-content: center;
  width: 1160px;
  margin: 0 auto;
}*/

.order-title {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 910px;
  text-align: center;
  font-weight: 800;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.order-auto {
  background-color: #ffe17f;
  width: 125px;
  height: 100px;
}

/*aboutus*/
.information-container {
  display: flex;
  flex-direction: row;
  width: 1160px;
  text-align: left;
  box-sizing: border-box;
}

.aboutus {
  width: 520px;
  background: #ffffff;
  font-family: "raleway", sans-serif;
  font-style: normal;
}

.aboutus-title {
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  color: #000000;
}

.aboutus-information {
  font-family: "rubik", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #444444;
}

.aboutus-list {
  color: #ffe17f;
}

.aboutus-item {
  font-family: "rubik", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  color: #000000;
}

.button-feedback {
  font-family: "raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  text-decoration: none;
  background-color: #ffe17f;
  letter-spacing: 0.2em;
}

/*contacts*/
.contacts {
  background: #ffffff;
  color: #444444;
  line-height: 30px;
  font-family: "rubik", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  box-sizing: border-box;
}

.contacts-title {
  font-family: "raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  color: #000000;
}

.contacts-subtitle {
  font-weight: 700;
  font-size: 24px;
}

.contacts-address {
  font-style: normal;
}

.contacts-phone {
  text-decoration: none;
  color: #444444;
}

.contacts-subtitle {
  font-weight: 700;
  font-size: 24px;
}

/*form*/
.newsletter-form {
  text-align: left;
  background-color: #f0f0f0;
  font-family: "rubik", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #444444;
  width: 1440px;
  box-sizing: border-box;
  margin-left: -140px;
}

.form-container {
  display: flex;
  justify-content: row;
  text-align: center;
}

.newsletter-container {
  display: flex;
  justify-content: row;
  justify-content: space-between;
}

.mailing-title {
  text-align: left;
  font-family: "raleway", sans-serif;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  color: #000000;
}

/*footer*/
.page-footer {
  font-family: "rubik", sans-serif;
  background-color: #444444;
  color: #ffffff;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  width: 1440px;
  height: 321px;
  margin: 0 auto;
}

.page-footer-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 0 auto;
}

.page-footer a {
  color: #ffffff;
}

.footer-address-text {
  font-style: normal;
}

.footer-prices {
  width: 444px;
  height: 123px;
  margin: 0 auto;
}

.footer-contacts {
  width: 239px;
  height: 182px;
  margin: 0 auto;
}

.footer-contacts-user {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 175px;
  height: 116px;
}

.footer-social-item {
  display: inline-block;
}

.footer-prices-item {
  display: inline-block;
}

.footer-contacts-user-item {
  display: inline-block;
}

.footer-prices-link {
  font-family: "raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  text-decoration: none;
  text-transform: uppercase;
  color: #ffffff;
  letter-spacing: 0.2em;
}

.footer-contacts-address-phone {
  text-decoration: none;
  color: #ffffff;
}

.inner-header-title {
  font-family: "raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
}

/*breadcrumbs*/
.breadcrumbs {
  font-style: normal;
  font-family: "rubik", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  width: 1079px;
  margin: 0 auto;
}

/*catalog*/
.breadcrumbs-link {
  color: #000000;
  text-decoration: none;
}

.main-container {
  width: 1160px;
}

.catalog-group {
  background-color: #f0f0f0;
  color: #000000;
  width: 320px;
  margin-right: 40px;
}

.catalog-right-column {
  width: 840px;
}

.catalog-group-container {
  background-color: #f0f0f0;
  display: flex;
  justify-content: center;
  width: 1160px;
  margin: 0 auto;
}

.catalog-products-filter-container {
  display: flex;
}

.catalog-products-filter {
  font-family: "raleway", sans-serif;
  font-weight: 800;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.catalog-filter-group {
  font-family: "rubik", sans-serif;
  line-height: 20px;
}

.catalog-filter-index {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
}

.catalog-filter-bluetooth {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: -0.02em;
}

.control {
  font-family: "rubik", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
}

.button-show {
  font-family: "raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  background-color: #ffe17f;
}

/*products*/
.products {
  font-family: "rubik", sans-serif;
  background-color: #ffffff;
  font-style: normal;
}

.products-container {
  display: flex;
  width: 840px;
}

.product-card-link {
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: -0.02em;
  text-decoration: none;
  color: #000000;
}

.product-card {
  box-sizing: border-box;
}

.product-card-price {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: right;
  color: #444444;
}

.pagination-show-more {
  font-family: "raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #000000;
  background-color: #ffffff;
}

.product-link {
  color: #000000;
  background-color: #ffe17f;
  text-decoration: none;
  font-family: "raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

/*pagination*/
.pagination {
  background-color: #ebebeb;
  font-family: "raleway", sans-serif;
}

.pagination-link {
  font-family: "rubik", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  opacity: 0.6;
  text-decoration: none;
  color: #444444;
}

.back-page {
  font-family: "raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  opacity: 0.3;
}

.next-page {
  font-family: "raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  opacity: 0.3;
  color: #000000;
}
